* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "SUSE", sans-serif;
  overflow-x: hidden;
}
.main--button {
  background-color: #0067a4 !important;
  color: white !important;
  border: none !important;
}
.secondary--button {
  background-color: transparent !important;
  color: white !important;
  border: #0067a4 2px solid !important;
}

.landing-text--container {
  color: white;
  background-color: #3a1772;
  width: calc(70vw - 150px);
  height: 100svh;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 0% 45% 5% 0% / 0% 80% 20% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 150px;
}
.landing-text--small {
  font-size: 25px;
  margin-bottom: 20px;
}
.landing-text--mid {
  font-size: 36px;
  margin-bottom: 120px;
}
.landing-text--big {
  font-size: 96px;
  margin-bottom: 50px;
  color: #0067a4;
}
.landing-button--container {
  margin-bottom: 0px;
  display: flex;

  gap: 20px;
}
.landing-button {
  font-size: 25px;
  padding: 15px 50px;
  border-radius: 50px;
  cursor: pointer;
}
.landing--pic {
  background-color: lightgreen;
  height: 100svh;
  width: 60vw;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: -1;
}
.landing--pic img {
  height: 120%;
  -webkit-box-reflect: left;
}

.social-link--container {
  z-index: 10;
  position: fixed;
  right: 50px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.page-link--container {
  z-index: 10;
  position: fixed;
  left: 50px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.social--line {
  background-color: black;
  height: 15svh;
  width: 5px;
  border-radius: 3px 3px 0 0;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.hero--container {
  /* background-color: lightblue; */
  height: 100svh;
}
.hero-img--container {
  height: 50%;
  width: 20%;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50svh - 25%);
  left: calc(50vw - 10%);
  z-index: 2;
}
.hero--img {
  /* border: 5px #3a1772 solid; */
  /* padding: 5px; */
  box-shadow: 10px 7px 5px #3a17725b;
  border-radius: 62% 38% 75% 25% / 63% 67% 33% 37%;
  height: 62svh;
  margin-right: 20px;
}
.hero--name {
  font-size: 170px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  width: 100%;
  margin-left: 20px;
}
.name--space {
  margin: 0 9.2vw;
}
.hero--styling-1 {
  position: absolute;
  left: 10%;
  top: 20%;
  scale: 0.8;
}
.hero--styling-2 {
  position: absolute;
  right: 17%;
  bottom: 10%;
  rotate: 123deg;
  scale: 0.79;
}
.hero--styling-arrow {
  height: 20svh;
  rotate: 80deg;
  position: absolute;
  top: 7%;
  right: 32%;
  transform: scaleY(-1);
  animation-name: arrow-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
@keyframes arrow-animation {
  0% {
    top: 7%;
  }
  100% {
    top: 15%;
  }
}
.about--container {
  background-color: lightpink;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80svh;
  gap: 2%;
  /* padding: 0 15%; */
}
.about-text--container {
  background-color: lightblue;
  height: 80%;
  width: 100%;
  margin-right: 8%;
}
.about--img {
  background-color: lightblue;
  height: 80%;
  width: 100%;
  margin-left: 15%;
}
